@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600&family=Ubuntu:wght@400;500;700&display=swap");
.text-light-red {
  color: #FF525D;
}

.bg-light-red {
  background-color: #FF525D;
}

.text-orange {
  color: #FF856E;
}

.bg-orange {
  background-color: #FF856E;
}

.text-very-light-red {
  color: #FF7A85;
}

.bg-very-light-red {
  background-color: #FF7A85;
}

.text-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.text-grayish-blue {
  color: #C8C8CB;
}

.bg-grayish-blue {
  background-color: #C8C8CB;
}

.text-very-dark-blue {
  color: #1F3F5B;
}

.bg-very-dark-blue {
  background-color: #1F3F5B;
}

.text-very-dark-grayish-blue {
  color: #4B5862;
}

.bg-very-dark-grayish-blue {
  background-color: #4B5862;
}

.text-very-dark-black-blue {
  color: #25252D;
}

.bg-very-dark-black-blue {
  background-color: #25252D;
}

.text-very-dark-desaturated-blue {
  color: #3F4164;
}

.bg-very-dark-desaturated-blue {
  background-color: #3F4164;
}

html {
  font-style: 100%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow-x: hidden;
}

.card {
  background-color: salmon;
}

.btn {
  border: none;
  height: 45px;
  width: 8.25rem;
  border-radius: 6.25rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
.btn-primary {
  background: -webkit-gradient(linear, left top, right top, from(#FF7A85), to(#FF525D));
  background: linear-gradient(90deg, #FF7A85 0%, #FF525D 100%);
  color: #ffffff;
}
.btn-white {
  background: #ffffff;
  color: #FF525D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-white:hover {
  background: #FF7A85;
  color: #ffffff;
}
.btn-border {
  background: transparent;
  color: #ffffff;
  border: 0.125rem solid #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-border:hover {
  background: #ffffff;
  color: #FF525D;
}

.atf {
  background: linear-gradient(90.17deg, #FF856E 0.18%, #FF525D 77.03%);
  max-width: 100vw;
  background-position: left center;
  position: relative;
  height: 85vh;
  border-radius: 0 0 0 6.25rem;
  overflow: hidden;
}
@media (max-width: 720px) {
  .atf {
    height: 90vh;
    overflow: visible;
  }
}

.nav {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  max-width: 81.25rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.25rem;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}
@media (max-width: 1400px) {
  .nav {
    max-width: 75rem;
  }
}
@media (max-width: 1200px) {
  .nav {
    max-width: 56.25rem;
  }
}
@media (max-width: 960px) {
  .nav {
    max-width: 43.75rem;
  }
}
@media (max-width: 720px) {
  .nav {
    max-width: 21.25rem;
    top: 0.625rem;
  }
}
.nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
  position: relative;
}
@media (max-width: 960px) {
  .nav__left {
    gap: 1.875rem;
  }
}
@media (max-width: 720px) {
  .nav__left {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.nav__left__logo {
  width: 6.25rem;
}
.nav__left #menuToggle {
  display: none;
  width: 2.5rem;
  height: 100%;
}
@media (max-width: 720px) {
  .nav__left #menuToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}
.nav__left #menuToggle input {
  position: absolute;
  display: block;
  cursor: pointer;
  width: 2.5rem;
  height: 1.875rem;
  top: 0.3125rem;
  z-index: 2;
  opacity: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.nav__left #menuToggle input:focus {
  outline: none;
}
.nav__left #menuToggle input:checked + .hamburger span {
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
}
.nav__left #menuToggle input:checked + .hamburger span:nth-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}
.nav__left #menuToggle input:checked + .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
  top: 0.1875rem;
}
.nav__left #menuToggle .hamburger span {
  display: block;
  width: 2.125rem;
  height: 0.25rem;
  margin-bottom: 0.3125rem;
  position: relative;
  background-color: #ffffff;
  background-repeat: 0.1875rem;
  -webkit-transform-origin: 0.25rem 0;
          transform-origin: 0.25rem 0;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.nav__left #menuToggle .hamburger span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
.nav__left #menuToggle .hamburger span:last-child {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}
.nav__left__menu {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  gap: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  height: 100%;
}
@media (max-width: 1200px) {
  .nav__left__menu {
    gap: 1.5625rem;
  }
}
@media (max-width: 960px) {
  .nav__left__menu {
    gap: 1.25rem;
  }
}
@media (max-width: 720px) {
  .nav__left__menu {
    display: none;
  }
  .nav__left__menu.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    padding: 1.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 3.75rem;
    -webkit-box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.25), 0px 1.75302px 3.00517px rgba(0, 0, 0, 0.125);
            box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.25), 0px 1.75302px 3.00517px rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .nav__left__menu.show li.dropdown {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    gap: 1.25rem;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }
  .nav__left__menu.show li.dropdown:focus {
    outline: none;
  }
  .nav__left__menu.show li.dropdown.active .dropdown__button:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .nav__left__menu.show li.dropdown.active .dropdown__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 0;
    background: #EFEFF1;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 1.25rem 0;
    gap: 1.25rem;
    width: 100%;
  }
  .nav__left__menu.show li.dropdown .dropdown__button {
    color: #4B5862;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .nav__left__menu.show li.dropdown .dropdown__button:after {
    top: -0.125rem;
    height: 100%;
    content: url(assets/images/icon-arrow-dark.svg);
  }
  .nav__left__menu.show li.dropdown:hover .dropdown__button {
    text-decoration: none;
    font-weight: normal;
  }
  .nav__left__menu.show li.dropdown:hover .dropdown__button:after {
    -webkit-transform: rotate(none);
            transform: rotate(none);
  }
}
.nav__left__menu li {
  cursor: pointer;
  z-index: 50;
}
.nav__left__menu li.dropdown {
  z-index: 5;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__left__menu li.dropdown .dropdown__button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  text-align: center;
  position: relative;
}
.nav__left__menu li.dropdown .dropdown__button:after {
  position: absolute;
  right: -0.9375rem;
  bottom: 0.9375rem;
  content: url(assets/images/icon-arrow-light.svg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav__left__menu li.dropdown .dropdown__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  -webkit-box-shadow: 0px 17px 22px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 17px 22px rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 2.5rem 4.375rem 1.875rem 1.875rem;
}
.nav__left__menu li p:hover {
  text-decoration: underline;
}
.nav__left__menu:not(.show) li.dropdown:hover {
  position: relative;
}
.nav__left__menu:not(.show) li.dropdown:hover .dropdown__button {
  text-decoration: underline;
  font-weight: 700;
}
.nav__left__menu:not(.show) li.dropdown:hover .dropdown__button:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.nav__left__menu:not(.show) li.dropdown:hover .dropdown__content {
  display: block;
  position: absolute;
  background: #fff;
  z-index: 999;
  top: 2.8125rem;
  left: -2.8125rem;
}
.nav__left__menu:not(.show) li.dropdown:hover .dropdown__content a {
  display: block;
  margin-bottom: 1.25rem;
}
.nav__left__menu:not(.show) li.dropdown:hover .dropdown__content a:hover {
  text-decoration: underline;
}
.nav__left__menu hr {
  width: 100%;
  border-top: #d1d1d1;
}
.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}
@media (max-width: 960px) {
  .nav__right {
    gap: 1.25rem;
  }
}
@media (max-width: 720px) {
  .nav__right {
    display: none;
  }
}
.nav__right a {
  font-family: "Ubuntu", sans-serif;
}
.nav__right a:hover {
  text-decoration: underline;
}

.hero {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 0 0 0 6.25rem;
  overflow: hidden;
}
.hero__background {
  position: absolute;
  bottom: -150vh;
  left: -30vw;
  z-index: 0;
}
@media (max-width: 1400px) {
  .hero__background {
    bottom: -190vh;
    left: -35vw;
  }
}
@media (max-width: 960px) {
  .hero__background {
    bottom: -110vh;
    left: -90vw;
  }
}
@media (max-width: 720px) {
  .hero__background {
    bottom: -66vh;
    left: -77vw;
  }
}
.hero__content {
  font-family: "Overpass", sans-serif;
  text-align: center;
  z-index: 1;
}
@media (max-width: 720px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero__content h1 {
  font-size: 4.25rem;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .hero__content h1 {
    font-size: 3.4375rem;
  }
}
@media (max-width: 960px) {
  .hero__content h1 {
    font-size: 3.125rem;
  }
}
@media (max-width: 720px) {
  .hero__content h1 {
    font-size: 2.25rem;
    max-width: 20rem;
    line-height: 2.375rem;
    margin-bottom: 1.25rem;
  }
}
.hero__content p {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 1200px) {
  .hero__content p {
    font-size: 1.25rem;
  }
}
@media (max-width: 720px) {
  .hero__content p {
    font-size: 1.125rem;
    max-width: 20.9375rem;
  }
}
.hero__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.designed {
  padding-top: 7.5rem;
  width: 100%;
  text-align: center;
  max-width: 81.25rem;
  margin: auto;
  margin-bottom: 15.625rem;
}
@media (max-width: 1400px) {
  .designed {
    max-width: 75rem;
  }
}
@media (max-width: 1200px) {
  .designed {
    margin-bottom: 18.75rem;
  }
}
@media (max-width: 960px) {
  .designed {
    margin-bottom: 18.75rem;
  }
}
@media (max-width: 720px) {
  .designed {
    padding-top: 4.375rem;
  }
}
.designed__title {
  font-size: 2.375rem;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
  margin-bottom: 6.25rem;
}
@media (max-width: 1200px) {
  .designed__title {
    font-weight: 600;
  }
}
@media (max-width: 720px) {
  .designed__title {
    font-size: 1.625rem;
    margin-bottom: 4.375rem;
  }
}
.designed__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  position: relative;
}
@media (max-width: 1200px) {
  .designed__content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 4.375rem;
  }
}
@media (max-width: 720px) {
  .designed__content {
    grid-template-rows: 1fr 2fr;
    gap: 1.875rem;
  }
}
.designed__content__text {
  font-family: "Overpass", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.375rem;
}
@media (max-width: 1200px) {
  .designed__content__text {
    grid-row-start: 2;
    grid-row-end: -1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.125rem;
    text-align: center;
  }
}
@media (max-width: 720px) {
  .designed__content__text .content__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.designed__content__text .content__text h2 {
  font-weight: 400;
  font-size: 1.6875rem;
  margin-bottom: 1.25rem;
}
@media (max-width: 720px) {
  .designed__content__text .content__text h2 {
    width: 100%;
    max-width: 15.25rem;
  }
}
.designed__content__text .content__text p {
  line-height: 1.875rem;
  max-width: 31.25rem;
}
@media (max-width: 720px) {
  .designed__content__text .content__text p {
    max-width: 18.125rem;
  }
}
.designed__content__image {
  position: absolute;
  right: -23.5vw;
  top: -15rem;
  z-index: -1;
}
@media (max-width: 1200px) {
  .designed__content__image {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@media (max-width: 960px) {
  .designed__content__image {
    left: 40%;
    -webkit-transform: translate(-40%, 0);
            transform: translate(-40%, 0);
  }
}
@media (max-width: 720px) {
  .designed__content__image {
    top: 0;
    left: 32%;
  }
}

.state-phone {
  background: -webkit-gradient(linear, left top, right top, from(#2F3044), to(#3D4061));
  background: linear-gradient(90deg, #2F3044 0%, #3D4061 100%);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25.625rem;
  margin-bottom: 16.875rem;
  border-radius: 0 6.25rem;
}
@media (max-width: 1200px) {
  .state-phone {
    height: 43.75rem;
  }
}
@media (max-width: 960px) {
  .state-phone {
    height: 43.75rem;
  }
}
.state-phone__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 75rem;
  position: relative;
}
@media (max-width: 1400px) {
  .state-phone__content {
    max-width: 78.125rem;
  }
}
.state-phone__content .phone {
  position: absolute;
  left: -8%;
  top: -16%;
}
@media (max-width: 1400px) {
  .state-phone__content .phone {
    left: 2%;
  }
}
@media (max-width: 1200px) {
  .state-phone__content .phone {
    left: 25%;
    top: -30%;
  }
}
@media (max-width: 960px) {
  .state-phone__content .phone {
    left: 15%;
  }
}
.state-phone__content__text {
  width: 100%;
  background-image: url("assets/images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: bottom 15% left -35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-radius: 0 6.25rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1400px) {
  .state-phone__content__text {
    background-position: bottom 15% left -90%;
  }
}
@media (max-width: 1200px) {
  .state-phone__content__text {
    background-position: bottom -40% left 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 17.5rem;
  }
}
.state-phone__content__text .text-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  max-width: 31.25rem;
  margin-right: 3.75rem;
  font-family: "Overpass", sans-serif;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .state-phone__content__text .text-group {
    text-align: center;
    margin-right: 0;
  }
}
.state-phone__content__text .text-group h1 {
  font-weight: 600;
  font-size: 2.25rem;
}
.state-phone__content__text .text-group p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875rem;
}

.laptop-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.laptop-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 87.5rem;
  position: relative;
  margin: auto;
  margin-bottom: 18.4375rem;
}
@media (max-width: 1200px) {
  .laptop-section__content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 9.375rem;
    margin-bottom: 12.5rem;
  }
}
.laptop-section__content__illustration {
  position: absolute;
  left: -26%;
  top: -45%;
}
@media (max-width: 1400px) {
  .laptop-section__content__illustration {
    left: -21%;
  }
}
@media (max-width: 1200px) {
  .laptop-section__content__illustration {
    top: -20%;
    left: 46%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@media (max-width: 960px) {
  .laptop-section__content__illustration {
    left: 44%;
  }
}
.laptop-section__content__text {
  display: grid;
  width: 100%;
  grid-template-columns: 1.15fr 1fr;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (max-width: 1200px) {
  .laptop-section__content__text {
    grid-row-start: 2;
    grid-row-end: -1;
    grid-template-columns: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.laptop-section__content__text .text-column {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  max-width: 30.625rem;
  grid-column-start: 2;
  grid-column-end: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.375rem;
}
@media (max-width: 1200px) {
  .laptop-section__content__text .text-column {
    gap: 2.5rem;
    text-align: center;
  }
}
.laptop-section__content__text .text-column .text-group {
  font-family: "Overpass", sans-serif;
  color: #1F3F5B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
.laptop-section__content__text .text-column .text-group h1 {
  font-size: 1.6875rem;
  font-weight: 400;
}
.laptop-section__content__text .text-column .text-group p {
  line-height: 1.875rem;
}

footer {
  background-color: #25252D;
  border-radius: 0 6.25rem 0 0;
  padding: 3.75rem 0 7.5rem 0;
  position: relative;
}
@media (max-width: 960px) {
  footer {
    padding-top: 5rem;
  }
}
footer .footer-content {
  width: 100%;
  max-width: 81.25rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 1400px) {
  footer .footer-content {
    max-width: 75rem;
  }
}
@media (max-width: 960px) {
  footer .footer-content {
    max-width: 43.75rem;
  }
}
@media (max-width: 720px) {
  footer .footer-content {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: none;
    gap: 3.75rem;
  }
}
@media (max-width: 720px) {
  footer .footer-content img {
    justify-self: center;
  }
}
footer .footer-content__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  gap: 3.125rem;
}
@media (max-width: 720px) {
  footer .footer-content__menu {
    gap: 1.875rem;
  }
}
footer .footer-content__menu h1 {
  font-weight: 700;
  font-size: 1rem;
}
footer .footer-content__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}
footer .footer-content__menu ul li a:hover {
  text-decoration: underline;
}
footer .attribution {
  position: absolute;
  bottom: 0;
  font-size: 0.6875rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: #ffffff;
}
@media (max-width: 720px) {
  footer .attribution {
    width: 60%;
    text-align: center;
  }
}
footer .attribution a {
  color: #FF856E;
}
footer .attribution a:hover {
  text-decoration: underline;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */