@use "../utils" as *;

.atf {
    background: $linear-hero;
    max-width: 100vw;
    background-position: left center;
    position: relative;
    height: 85vh;
    border-radius: $border-radius-hero;
    overflow: hidden;

    // mobile view
    @include breakpoint-max(md) {
          height: 90vh;
      overflow: visible;
    }

}