@use "../utils" as *;

.designed {
    padding-top: rem(120);
    width: 100%;
    text-align: center;
     max-width: rem(1300);
    margin: auto;
    margin-bottom: rem(250);

    // Laptop View
     @include breakpoint-max(xxl) {
        max-width: rem(1200);
    }

    // Laptop Small View
    @include breakpoint-max(xl) {
        margin-bottom: rem(300);
    }

    // Ipad Pro View
    @include breakpoint-max(lg) {
        margin-bottom: rem(300);
    }

    // mobile view
    @include breakpoint-max(md) {
        padding-top: rem(70);
    }

    &__title {
        font-size: rem(38);
        font-weight: $font-weight-400;
        font-family: $font-overpass;
        margin-bottom: rem(100);

        // Laptop Small View
        @include breakpoint-max(xl) {
            font-weight: $font-weight-600;
        }

        // mobile view
        @include breakpoint-max(md) {
            font-size: rem(26);
            margin-bottom: rem(70);
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr );
        text-align: left;
        position: relative;

        // Laptop Small View
        @include breakpoint-max(xl) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            gap: rem(70);
        }

        // mobile view
        @include breakpoint-max(md) {
            grid-template-rows: 1fr 2fr;
            gap: rem(30);
        }

        &__text {
            font-family: $font-overpass;
            display: flex;
            flex-direction: column;
            gap: rem(70);

            // Laptop Small View
            @include breakpoint-max(xl) {
                grid-row-start: 2;
                grid-row-end: -1;
                align-items: center;
                gap: rem(50);
                text-align: center;
            }


            .content__text {

            // mobile view
            @include breakpoint-max(md) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
                h2 {
                    font-weight: $font-weight-400;
                    font-size: rem(27);
                    margin-bottom: rem(20);

                    // mobile view
                    @include breakpoint-max(md) {
                        width: 100%;
                        max-width: rem(244);
                    }
                }

                p {
                    line-height: rem(30);
                    max-width: rem(500);

                    // mobile view
                    @include breakpoint-max(md) {
                        max-width: rem(290);
                    }
                }
            }


        }

        &__image {
            position: absolute;
            right: -23.5vw;
            top: rem(-240);
            z-index: -1;

            // Laptop Small View
            @include breakpoint-max(xl) {
                left: 50%;
                transform: translate(-50%, 0);
            }

            // Ipad Pro View
            @include breakpoint-max(lg) {
            left: 40%;
            transform: translate(-40%, 0);
            }

            // mobile view
            @include breakpoint-max(md) {
                top: 0;
                left: 32%;
            }

        }
    }


}