@use '../utils' as *;

footer {
    background-color: $very-dark-black-blue;
    border-radius: $border-radius-footer;
    padding: rem(60) 0 rem(120) 0;
    position: relative;

    // Ipad Pro View
    @include breakpoint-max(lg) {
        padding-top: rem(80);
    }

    .footer-content {
        width: 100%;
        max-width: rem(1300);
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        // Laptop Viewport
        @include breakpoint-max(xxl) {
            max-width: rem(1200);
        }

        // Ipad Pro View
        @include breakpoint-max(lg) {
             max-width: rem(700);
        }

        // mobile view
        @include breakpoint-max(md) {
            grid-template-columns: 1fr;
            grid-template-rows: .2fr 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            text-align: center;
            max-width: none;
            gap: rem(60);
        }

        img {

            // mobile view
            @include breakpoint-max(md) {
                justify-self: center;
            }
        }

        &__menu {
            display: flex;
            flex-direction: column;
            color: $white;
            font-family: $font-ubuntu;
            gap: rem(50);

             // mobile view
            @include breakpoint-max(md) {
                gap: rem(30);
            }

            h1 {
                font-weight: 700;
                font-size: rem(16);
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: rem(15);



                li {
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .attribution {
        position: absolute;
        bottom: 0;
        font-size: rem(11);
        left: 50%;
        transform: translate(-50%, 0%);
        color: $white;

         // mobile view
        @include breakpoint-max(md) {
            width: 60%;
            text-align: center;
        }

        a {
            color: $orange;

            &:hover {
                text-decoration: underline;
            }
        }

    }
}