@use "../utils" as *;

.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__background {
    position: absolute;
    bottom: -150vh;
    left: -30vw;
    z-index: 0;

    // Laptop view
    @include breakpoint-max(xxl) {
      bottom: -190vh;
      left: -35vw;
    }
  }

  &__content {
    font-family: $font-overpass;
    text-align: center;
    z-index: 1;

    h1 {
    font-size: rem(68);
    font-weight: $font-weight-500;

      // Laptop Small View
      @include breakpoint-max(xl) {
          font-size: rem(55);
      }

      // Ipad Pro View
      @include breakpoint-max(lg) {
          font-size: rem(50);
      }
    }

    p {
      font-size: rem(24);
      margin-bottom: rem(40);

      // Laptop Small View
      @include breakpoint-max(xl) {
          font-size: rem(20);
      }

    }
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(16);
  }

}
